<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   context_example.plist
   DVHtmlToModels_Example

   Created by Denis Vashkovski on 29/08/16.
   Copyright (c) 2016 Denis Vashkovski. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>url</key>
        <string>https://dl.dropboxusercontent.com/s/kcyfoj5yv4c9v8z/dv_html_to_models_example.html</string>
        <key>data</key>
        <array>
            <dict>
                <key>xPathRoot</key>
                <string>//div[@class='section']</string>
                <key>className</key>
                <string>SectionObject</string>
                <key>fields</key>
                <array>
                    <dict>
                        <key>name</key>
                        <string>title</string>
                        <key>result</key>
                        <array>
                            <dict>
                                <key>xPath</key>
                                <string>//div/div[@class='title']/h2/a</string>
                            </dict>
                        </array>
                    </dict>
                    <dict>
                        <key>name</key>
                        <string>products</string>
                        <key>result</key>
                        <array>
                            <dict>
                                <key>data</key>
                                <dict>
                                    <key>xPathRoot</key>
                                    <string>//div/div[@id='product']</string>
                                    <key>className</key>
                                    <string>ProductObject</string>
                                    <key>fields</key>
                                    <array>
                                        <dict>
                                            <key>name</key>
                                            <string>uniqueId</string>
                                            <key>result</key>
                                            <array>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//a</string>
                                                    <key>attribute</key>
                                                    <string>href</string>
                                                    <key>regex</key>
                                                    <string>(\d+).html</string>
                                                </dict>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//div/div[@class='class1']/a</string>
                                                    <key>attribute</key>
                                                    <string>href</string>
                                                    <key>regex</key>
                                                    <string>(\d+).html</string>
                                                </dict>
                                            </array>
                                        </dict>
                                        <dict>
                                            <key>name</key>
                                            <string>title</string>
                                            <key>result</key>
                                            <array>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//a</string>
                                                    <key>attribute</key>
                                                    <string>title</string>
                                                </dict>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//div/div[@class='class1']/a</string>
                                                    <key>attribute</key>
                                                    <string>title</string>
                                                </dict>
                                            </array>
                                        </dict>
                                        <dict>
                                            <key>name</key>
                                            <string>photoUrl</string>
                                            <key>result</key>
                                            <array>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//a</string>
                                                    <key>attribute</key>
                                                    <string>style</string>
                                                    <key>regex</key>
                                                    <string>background\: url\(\'([^\'\)]*)</string>
                                                    <key>formats</key>
                                                    <array>
                                                        <dict>
                                                            <key>conditions</key>
                                                            <array>
                                                                <dict>
                                                                    <key>regex</key>
                                                                    <string>^http</string>
                                                                    <key>negative</key>
                                                                    <true/>
                                                                </dict>
                                                            </array>
                                                            <key>format</key>
                                                            <string>http://example.com%@</string>
                                                        </dict>
                                                    </array>
                                                </dict>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//div/div[@class='class1']/a/img</string>
                                                    <key>attribute</key>
                                                    <string>src</string>
                                                </dict>
                                            </array>
                                        </dict>
                                        <dict>
                                            <key>name</key>
                                            <string>author</string>
                                            <key>result</key>
                                            <array>
                                                <dict>
                                                    <key>xPath</key>
                                                    <string>//div/p[@class='author']/span</string>
                                                </dict>
                                            </array>
                                        </dict>
                                        <dict>
                                            <key>name</key>
                                            <string>price</string>
                                            <key>result</key>
                                            <array>
                                                <dict>
                                                    <key>data</key>
                                                    <dict>
                                                        <key>xPathRoot</key>
                                                        <string>//div/p[2]</string>
                                                        <key>className</key>
                                                        <string>PriceObject</string>
                                                        <key>fields</key>
                                                        <array>
                                                            <dict>
                                                                <key>name</key>
                                                                <string>discount</string>
                                                                <key>result</key>
                                                                <array>
                                                                    <dict>
                                                                        <key>xPath</key>
                                                                        <string>//small[@class='discount']</string>
                                                                        <key>regex</key>
                                                                        <string>\d+</string>
                                                                    </dict>
                                                                </array>
                                                            </dict>
                                                            <dict>
                                                                <key>name</key>
                                                                <string>price</string>
                                                                <key>result</key>
                                                                <array>
                                                                    <dict>
                                                                        <key>xPath</key>
                                                                        <string>//a[2]</string>
                                                                        <key>regex</key>
                                                                        <string>\d+</string>
                                                                    </dict>
                                                                </array>
                                                            </dict>
                                                            <dict>
                                                                <key>name</key>
                                                                <string>currency</string>
                                                                <key>result</key>
                                                                <array>
                                                                    <dict>
                                                                        <key>xPath</key>
                                                                        <string>//a[2]/small</string>
                                                                    </dict>
                                                                </array>
                                                            </dict>
                                                        </array>
                                                    </dict>
                                                </dict>
                                            </array>
                                        </dict>
                                    </array>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
